RewriteEngine On
RewriteRule ^index/?$ /index.php [NC,L]
RewriteRule ^informacoes/?$ /informacoes.php [NC,L]
RewriteRule ^colegiado/?$ /colegiado.php [NC,L]
RewriteRule ^corpo-docente/?$ /corpo-docente.php [NC,L]
RewriteRule ^contato/?$ /contato.php [NC,L]